#maindiv {
    margin: 0px auto;
    padding: 0px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    max-width: 100%;
}

li {
    border: 0;
    margin-bottom: 3px;
    margin-top: 5px;
    padding-top: 15px;
    display: block;
    background-color: #EFEFEF;
    text-align: center;
    height: 40px;
}

ul {
    padding: 5px 5px;
    margin: 20px 20px 40px 10px;
    position: none;
}

a {
    text-decoration: none;
}

button {
    display: block;
    border-bottom-right-radius: 8px;
    background-color: grey;
    color: #fff;
}

#maincontent {
    width: 100%;
    float: none;
}

#sidebar {
    width: 100%;
    float: none;
}

#footercontent {
    width: 100%;
    background-color: #EEE;
}

content img {
    max-width: 100%;
}

@media (min-width: 481px) {
    body {
        margin: 0px;
        padding: 0px;
        background: #EEF;
    }
    button {
        display: none;
    }
    #maindiv {
        background-color: white;
        width: 960px;
        margin: 0 auto;
        padding: 15px;
    }
    ul {
        display: inline-flex;
        justify-content: flex-end;
        position: relative;
        top: 30px;
        list-style: none;
    }
    li {
        display: inline;
        border-left: 1px solid black;
        padding: 0 10px;
        background-color: white;
    }
    li:first-child {
        border-left: 0;
    }
    content img {
        max-width: 100%;
    }
    content {
        background-color: white;
        width: 100%;
    }
    content:after {
        clear: both;
        content: "";
        display: block;
    }
    #maincontent {
        background: white;
        float: left;
        width: 60%;
    }
    #sidebar {
        background: white;
        float: right;
        width: 35%;
    }
    #sidebar {
        clear: right;
    }
    footer {
        padding: 0px;
        margin: 0px auto;
        clear: both;
        background-color: #EEE;
    }
    #footercontent {
        text-align: justify;
        margin: 0px auto;
        width: 960px;
    }
    pfooter {
        /*width: 960px;*/
        /*padding: 5px;*/
    }
    p {
        margin: 0px;
    }
}