body {
    margin: 0px;
    background: #EEF;
}

button {
    display: none;
    border-bottom-right-radius: 8px;
    background-color: grey;
    color: #fff;
}

#maindiv {
    background-color: white;
    width: 960px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: inline-flex;
    justify-content: flex-end;
    list-style: none;
}

li {
    display: inline;
    border-left: 1px solid black;
    padding: 0 10px;
}

li:first-child {
    border-left: 0;
}

content img {
    max-width: 100%;
}

content {
    background-color: white;
    width: 100%;
}

#maincontent,
#sidebar {
    margin: 0px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: justify;
}

#maincontent {
    background: white;
    width: 60%;
}

#sidebar {
    background: white;
    width: 35%;
}

#sidebar {
    clear: right;
}

footer {
    max-width: 100%;
    clear: both;
    background-color: #EEE;
}

#footercontent {
    margin: 0 auto;
    width: 960px;
}

p {
    padding: 5px;
}

@media (max-width: 480px) {
    img {
        /*max-width: 100%;*/
        flex-shrink: 0;
    }
    #maindiv {
        margin: auto;
        margin-top: 20px;
        width: 100%;
        box-sizing: border-box;
        display: block;
        max-width: 100%;
        flex: none;
    }
    header {
        flex-direction: column;
    }
    li {
        border: 0;
        padding: 0px;
        margin: 0px;
        margin-bottom: 3px;
        display: block;
        background-color: #EFEFEF;
        text-align: center;
        height: 40px;
    }
    ul {
        flex-direction: column;
        padding: 0px;
        margin: 20px 20px 40px;
    }
    button {
        display: block;
    }
    #maincontent {
        width: 100%;
    }
    #sidebar {
        width: 100%;
    }
    #footercontent {
        width: 100%;
    }
}


/*Create a page with background color #EEF and content width 960px with white background.
Header containing the components:
   *    logo - linked image
   *    Menu - 4 elements - aligned to the right and the logo bottom.
       With vertical line
   *    Jump to content link - visible only on mobile.
Content containing the components:
   *    Big top full width image.
   *    Main content on the left - width 60%
   *    Sidebar on the right - width 35%
Footer - full width. background color #EEE. Footer content width 960px. Justified text.

When the browser becomes smaller (even smaller than 960px), the content is
flexible with it. When the browser becomes smaller than 481px, the Jump to
content link becomes visible and the menu becomes vertical with each elements
in full screen width and #EFEFEF background. The Main content and the sidebar
Becomes full width with the main above the sidebar.
Do in in two ways: Desktop first and Mobile first.*/