a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 50px;
}
.iWrapper {
    position: absolute;
}
