<nav class="navbar is-primary">
    <div class="navbar-item is-hoverable">
        <a class="navbar-item" ui-sref="home" ui-sref-active="active">Home</a>
        <a class="navbar-item" ng-hide="vm.loggedIn" ui-sref="login" ui-sref-active="active">Login</a>
        <a class="navbar-item" ng-show="vm.loggedIn" ui-sref="profile" ui-sref-active="active">Profile</a>
        <a class="navbar-item" ng-show="vm.loggedIn" ng-click="vm.logout()">Logout</a>
        <p class="navbar-item">{{vm.loginHeader}}</p>
    </div>
</nav>