<div class='job-comp'>
    <!-- <p>{{$ctrl.test}}</p> -->
    <!-- {{$ctrl}} -->
    <p> data inside componet title:{{$ctrl.jobsObj.title}}</p>
    <p> data inside componet date: {{$ctrl.jobsObj.publish_date}}</p>
    <p> data inside componet first_name: {{$ctrl.jobsObj.first_name}}</p>
    <p> data inside componet last_name: {{$ctrl.jobsObj.last_name}}</p>
    <p> data inside componet location: {{$ctrl.jobsObj.location}}</p>
    <p ng-show='description'> data inside componet Description: {{$ctrl.jobsObj.description}}</p>
    <!-- <p>{{$ctrl.jobsObj}}</p> -->
    <button type="button" ng-click="$ctrl.showTest()">Test</button>
    <button type="button" ng-click="description=!description">Test</button>
</div>