h1 {
    font-size: 45px;
    text-align: center;
}

a {
    background-color: whitesmoke;
    text-decoration: none;
    text-align: center;
    display: block;
    font-size: 30px;
    /* border: 1px solid black; */
    margin: 50px 200px;
}