body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

canvas {
    display: block;
    max-width: 100%;
}

img {
    margin: auto;
    margin: 0px 50px;
    padding: 10px;
}