<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="angular.min.js"></script>
    <script src="javascriptindex.js"></script>
    <title>Document</title>
</head>

<body ng-app='myModule2'>
    <div ng-controller="toDolistCtrl as reftodolist">
        <input type="text" name="" value="" ng-model="reftodolist.task">
        <button type="submit" ng-click="reftodolist.send()">submit</button>
        <ol>
            <li ng-repeat="task in reftodolist.tasks track by $index">
                {{task}}
            </li>
        </ol>
    </div>

</body>

</html>