<div>
    <div class="tile is-ancestor">
        <!-- <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box notification">
                <p class="title">One</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                    vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
            <div class="tile is-child box notification">
                <p class="title">Two</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                    vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
        </div> -->
        <div class="tile is-parent">
            <div class="tile is-child box notification">
                <p class="title">My Applied Jobs</p>
                <my-app></my-app>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-4 is-vertical is-parent">
            <div class="tile is-child box notification">
                <p class="title">Publish Job</p>
                <publish-job publish-name="'Add A new Job'"></publish-job>
            </div>
            <!-- <div class="tile is-child box notification">
                <p class="title">Two</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                    vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div> -->
        </div>
        <div class="tile is-parent">
            <div class="tile is-child box notification">
                <p class="title">My Published Jobs</p>
                <my-jobs></my-jobs>
            </div>
        </div>
    </div>
</div>