<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>

<body>
    <h1>Login Page</h1>
    <form action="http://localhost:3000/user_form" method="POST" class="ajax">
        <label for="first_name">First Name:<input type="text" name="first_name" value=""></label>
        <label for="last_name">Last Name:<input type="text" name="last_name" value=""></label>
        <input type="submit" value="Submit">
    </form>
</body>

<script src="ajax.js">
</script>


</html>