.container {
  direction: rtl;
  font-family: 'Open Sans Hebrew', 'almoni-dl-regular', Arial, Helvetica, sans-serif;
  width: 400px;
  height: 800px;
}
header {
  font-weight: normal;
  background: #4dbe45;
}
h3 {
  padding: 10px 10px 0 0;
  height: 30px;
}

nav ul {
  padding:0px;
  display:flex;
}

nav li {
  flex-basis:50%;
  display:flex;
  list-style: none outside;
}

.active {
  background: black;
  color: white;
}

nav p {
  margin:0px;
}
