<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../angular.min.js"></script>
    <script src="index.js"></script>
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>


<body>
    <div ng-app='ToDo'>
        <div id='taskDiv' ng-controller="toDolistCtrl as reftodolist">

            <div>
                <label for="id">Enter Id:</label>
                <input type="text" name="id" value="" placeholder="Enter id" ng-model="task.userid">
                <br>
                <label for="title">Enter text:</label>
                <input type="text-area" name="title" value="" placeholder="Enter Title" ng-model="task.text">
                <br>
                <label for="title">Enter Title:</label>
                <input type="text" name="title" value="" placeholder="Enter Title" ng-model="task.title">
                <br>
                <label for="priority">Priority:</label>
                <input type="radio" name="priority" value="1" ng-model="task.priority">1
                <input type="radio" name="priority" value="2" ng-model="task.priority">2
                <input type="radio" name="priority" value="3" ng-model="task.priority">3
                <input type="radio" name="priority" value="4" ng-model="task.priority">4
                <input type="radio" name="priority" value="5" ng-model="task.priority">5
                <br>
                <label for="importance">Importance:</label>
                <input type="radio" name="importance" value="1" ng-model="task.importance">1
                <input type="radio" name="importance" value="2" ng-model="task.importance">2
                <input type="radio" name="importance" value="3" ng-model="task.importance">3
                <input type="radio" name="importance" value="4" ng-model="task.importance">4
                <input type="radio" name="importance" value="5" ng-model="task.importance">5
                <br>
                <button type="submit" ng-click="reftodolist.maketasks(task)">submit</button>
            </div>
        </div>
    </div>


    <div id='userDiv'>
        <p></p>
    </div>

    </div>
</body>

</html>