body {
    padding: 50px;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

.sortorder:after {
    content: '\25b2'; // BLACK UP-POINTING TRIANGLE
}

.sortorder.reverse:after {
    content: '\25bc'; // BLACK DOWN-POINTING TRIANGLE
}

/* table {
    table-layout: inherit;
} */

.skill + .skill:before {
    content: ', ';
}

.jobTable {
    background-color: #927d7d;
    margin: 2px;
}

.navClass{
    background-color: #F5F5F5;
    border-radius : 2%;
}

.job:hover { background-color: wheat; }