<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <sort-field></sort-field>
        </div>
        <div class="tile is-child box">
            <p class="title">Two</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum
                ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child box">
            <job-title class="row" clicked="vm.clicked" titles='vm.titles'></job-title>
            <job ng-click="vm.change()" ng-repeat="job in vm.jobs" job='job' click-func="vm.applyToJob(job._id)" button-name="'apply'"></job>
        </div>
    </div>
</div>