body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.row {
    justify-content: space-around;
    display: flex;
}

.games-container {
    text-align: center;
    border: 1px solid black;
    height: 600px;
    width: 400px;
}

.span3 {
    text-align: center;
    border: 1px solid black;
    width: 400px;
}

#greedingLoby {
    display: none;
}

#gameLoby {
    display: none;
}

li {
    list-style-type: none
}

.games-container {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    align-items: center;
}