<div ng-repeat="person in vm.persons | limitTo:5">
    <p class="subtitle">
        {{vm.text}} <a class='button' ng-click="vm.userCard=!vm.userCard">{{person.name.first}} {{person.name.last}}</a>
        <div ng-show="vm.userCard" class="card">
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-48x48">
                        <img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4">{{person.name.first}} {{person.name.last}}</p>
                      <p class="subtitle is-6">{{person.email}}</p>
                      <p class="subtitle is-6">lng:{{person.location.lng}} lat:{{person.location.lat}}</p>
                    </div>
                  </div>
              
                  <div class="content">
                <p>{{person.description.public}}</p>
                <p>{{person.description.private}}</p>
                  </div>
                </div>
              </div>
    </p>
    
</div>