<div>
    <p>Job List Component</p>
    <table class="table is-striped is-narrow is-fullwidth">
        <thead>
            <tr class='is-selected'>
                <th ng-click="vm.sortBy('title')">Job Title
                    <span class="sortorder" ng-show="vm.propertyName === 'title'" ng-class="{reverse: vm.reverse}"></span>
                </th>
                <th ng-click="vm.sortBy('publish_date')">Publish Date
                    <span class="sortorder" ng-show="vm.propertyName === 'publish_date'" ng-class="{reverse: vm.reverse}"></span>
                </th>
                <th ng-click="vm.sortBy('Publisher')">Publisher
                    <span class="sortorder" ng-show="vm.propertyName === 'Publisher'" ng-class="{reverse: vm.reverse}"></span>
                </th>
                <th ng-click="vm.sortBy('location')">Location
                    <span class="sortorder" ng-show="vm.propertyName === 'location'" ng-class="{reverse: vm.reverse}"></span>
                </th>
                <th ng-click="vm.sortBy('Description')">Description
                    <span class="sortorder" ng-show="vm.propertyName === 'Description'" ng-class="{reverse: vm.reverse}"></span>
                </th>
                <th ng-click="vm.sortBy('Skills')">Skills
                    <span class="sortorder" ng-show="vm.propertyName === 'Skills'" ng-class="{reverse: vm.reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="job in vm.jobs | orderBy:vm.propertyName:vm.reverse">
                <td>{{job.title}}</td>
                <td>{{job.publish_date}}</td>
                <td>{{job.first_name}} {{job.last_name}}</td>
                <td>{{job.location}}</td>
                <br>
                <td>{{job.description}}</td>
                <td><span class='skill' ng-repeat="skill in job.skills">{{skill}}</span></td>
                <!-- <td> -->
                    <!-- <button ng-click='vm.getSkills(job.id); job.showSkill=!job.showSkill' class="button">Show skills</button>
                    <button ng-click="showDesc=!showDesc" class="button">Description</button> -->
                <!-- </td> -->
            </tr>
        </tbody>
    </table>

</div>