<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link href="stylesheets/bulma.css" rel="stylesheet">
</head>

<body ng-app="lanser">

    <main-nav></main-nav>
    <ui-view></ui-view>


    <!-- <div ng-controller="mainCtrl as mCtrl"> -->
    <!-- <p>data from maincontroller: {{mCtrl.jobs}}</p> -->
    <!-- <div > -->
    <!-- <job ng-repeat="job in mCtrl.jobs" jobs-obj='job' show-test='mCtrl.showtest()'></job> -->
    <!-- </div> -->
    <!-- </div> -->








    <!-- vendors -->
    <script src="./vendors/angular.js"></script>
    <script src="./vendors/angular-ui-router.js"></script>

    <!-- main Files -->
    <script src="./app.js"></script>

    <!-- job-services -->
    <script src="./components/jobs-list/jobs-service.js"></script>
    <!-- <script src="./components/job/job-service.js"></script> -->

    <!-- job -->
    <script src="./components/nav/main-nav.js"></script>
    <script src="./components/jobs-list/jobs-list.js"></script>
    <!-- <script src="./components/job/job.js"></script> -->


</body>

</html>