extends layout

block content
  img(src='/images/battleshipmainLogo.png' height="400" width="1500")
  div(id='greeting')    
    input(type="text",class='login-submit',id="username", name="username" placeholder="enter username")
    input(id="submitNewUser" type="button", value='submit')
  div(id='playerlistDiv')
    h3 Players list
    select(id="playerList", name="playerList")
    input(id="selectInput" type="button", value='Play')
  canvas(id="canvas" width="1500" height="500")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/clientMCLogics.js")
  script(src="/javascripts/clientCM.js")
  script(src="/javascripts/boardDrawer.js")
  script(src="/javascripts/clientGameLogics.js")